/*syntax - a certain way a line/block of code is written*/

/*
element {
  property: value;
}
*/

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

img {
  height: 250px;
  width: 250px;
}

#landing {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#gallery {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

ul {
  list-style: none;
  padding: 0;
}

/*border: width style color;*/
.tools{
  border: 5px solid #f2f2f2;
  height: 200px;
  width: 75%;
  margin: 20px;
  padding: 25px;
  color: white;
}

h2 {
  color: #007bff;
}

html {
  scroll-behavior: smooth;
}